@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #efefef; }

body {
  background: #ebeae9; }

header {
  width: 5%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #333;
  z-index: 4; }
  header .inner {
    width: 100%;
    height: 100%; }
    header .inner h1 {
      font: 26px/1 "Open Sans";
      color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-90deg) translate(-50%, -50%);
      transform-origin: left top; }

main {
  margin-left: 5%; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 25%;
      height: 0;
      opacity: 0; }
    main section .item {
      width: 25%;
      height: 60vh;
      float: left;
      position: relative; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        background: #ebeae9;
        padding: 20px; }
        main section .item .inner span {
          font: 26px/1 "Roboto Condensed";
          color: #555; }
          main section .item .inner span em {
            display: inline-block;
            width: 22px;
            height: 22px;
            border: 1px solid #555;
            border-radius: 50%;
            margin-right: 10px;
            transition: 0.5s; }
        main section .item .inner h2 {
          width: 80%;
          font: 700 34px/1.1 "Open Sans";
          color: #333;
          margin-top: 10px; }
      main section .item:nth-of-type(2) {
        width: 100%;
        height: 50vh; }
        main section .item:nth-of-type(2) h1 {
          font: 36px/1 "Cabin";
          color: #333;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #000; }
        main section .item:nth-of-type(2) .box {
          display: block;
          width: 100%;
          text-align: right; }
          main section .item:nth-of-type(2) .box span {
            font: 20px/1 "Roboto Condensed";
            color: #333;
            margin-right: 5px; }
          main section .item:nth-of-type(2) .box a {
            display: inline-block; }
            main section .item:nth-of-type(2) .box a i {
              font-size: 22px;
              color: #666; }
        main section .item:nth-of-type(2) p {
          width: 35%;
          letter-spacing: 1px;
          font: 22px/1.5 "Roboto Condensed";
          color: #333; }
      main section .item:nth-of-type(3):hover .line, main section .item:nth-of-type(4):hover .line, main section .item:nth-of-type(5):hover .line, main section .item:nth-of-type(6):hover .line, main section .item:nth-of-type(8):hover .line, main section .item:nth-of-type(9):hover .line, main section .item:nth-of-type(11):hover .line, main section .item:nth-of-type(12):hover .line, main section .item:nth-of-type(13):hover .line, main section .item:nth-of-type(15):hover .line, main section .item:nth-of-type(17):hover .line, main section .item:nth-of-type(18):hover .line {
        width: 70%; }
        main section .item:nth-of-type(3):hover .line::after, main section .item:nth-of-type(4):hover .line::after, main section .item:nth-of-type(5):hover .line::after, main section .item:nth-of-type(6):hover .line::after, main section .item:nth-of-type(8):hover .line::after, main section .item:nth-of-type(9):hover .line::after, main section .item:nth-of-type(11):hover .line::after, main section .item:nth-of-type(12):hover .line::after, main section .item:nth-of-type(13):hover .line::after, main section .item:nth-of-type(15):hover .line::after, main section .item:nth-of-type(17):hover .line::after, main section .item:nth-of-type(18):hover .line::after {
          height: 48%; }
      main section .item:nth-of-type(3):hover a, main section .item:nth-of-type(4):hover a, main section .item:nth-of-type(5):hover a, main section .item:nth-of-type(6):hover a, main section .item:nth-of-type(8):hover a, main section .item:nth-of-type(9):hover a, main section .item:nth-of-type(11):hover a, main section .item:nth-of-type(12):hover a, main section .item:nth-of-type(13):hover a, main section .item:nth-of-type(15):hover a, main section .item:nth-of-type(17):hover a, main section .item:nth-of-type(18):hover a {
        left: 40px; }
      main section .item:nth-of-type(3):hover span em, main section .item:nth-of-type(4):hover span em, main section .item:nth-of-type(5):hover span em, main section .item:nth-of-type(6):hover span em, main section .item:nth-of-type(8):hover span em, main section .item:nth-of-type(9):hover span em, main section .item:nth-of-type(11):hover span em, main section .item:nth-of-type(12):hover span em, main section .item:nth-of-type(13):hover span em, main section .item:nth-of-type(15):hover span em, main section .item:nth-of-type(17):hover span em, main section .item:nth-of-type(18):hover span em {
        background: #000; }
      main section .item:nth-of-type(3) .line, main section .item:nth-of-type(4) .line, main section .item:nth-of-type(5) .line, main section .item:nth-of-type(6) .line, main section .item:nth-of-type(8) .line, main section .item:nth-of-type(9) .line, main section .item:nth-of-type(11) .line, main section .item:nth-of-type(12) .line, main section .item:nth-of-type(13) .line, main section .item:nth-of-type(15) .line, main section .item:nth-of-type(17) .line, main section .item:nth-of-type(18) .line {
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 20px;
        transition: 0.5s; }
        main section .item:nth-of-type(3) .line::before, main section .item:nth-of-type(4) .line::before, main section .item:nth-of-type(5) .line::before, main section .item:nth-of-type(6) .line::before, main section .item:nth-of-type(8) .line::before, main section .item:nth-of-type(9) .line::before, main section .item:nth-of-type(11) .line::before, main section .item:nth-of-type(12) .line::before, main section .item:nth-of-type(13) .line::before, main section .item:nth-of-type(15) .line::before, main section .item:nth-of-type(17) .line::before, main section .item:nth-of-type(18) .line::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #000; }
        main section .item:nth-of-type(3) .line > span, main section .item:nth-of-type(4) .line > span, main section .item:nth-of-type(5) .line > span, main section .item:nth-of-type(6) .line > span, main section .item:nth-of-type(8) .line > span, main section .item:nth-of-type(9) .line > span, main section .item:nth-of-type(11) .line > span, main section .item:nth-of-type(12) .line > span, main section .item:nth-of-type(13) .line > span, main section .item:nth-of-type(15) .line > span, main section .item:nth-of-type(17) .line > span, main section .item:nth-of-type(18) .line > span {
          display: block;
          text-indent: -9999px;
          opacity: 0; }
        main section .item:nth-of-type(3) .line::after, main section .item:nth-of-type(4) .line::after, main section .item:nth-of-type(5) .line::after, main section .item:nth-of-type(6) .line::after, main section .item:nth-of-type(8) .line::after, main section .item:nth-of-type(9) .line::after, main section .item:nth-of-type(11) .line::after, main section .item:nth-of-type(12) .line::after, main section .item:nth-of-type(13) .line::after, main section .item:nth-of-type(15) .line::after, main section .item:nth-of-type(17) .line::after, main section .item:nth-of-type(18) .line::after {
          content: '';
          display: block;
          width: 1px;
          height: 0%;
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          transition: 0.5s; }
      main section .item:nth-of-type(3) a, main section .item:nth-of-type(4) a, main section .item:nth-of-type(5) a, main section .item:nth-of-type(6) a, main section .item:nth-of-type(8) a, main section .item:nth-of-type(9) a, main section .item:nth-of-type(11) a, main section .item:nth-of-type(12) a, main section .item:nth-of-type(13) a, main section .item:nth-of-type(15) a, main section .item:nth-of-type(17) a, main section .item:nth-of-type(18) a {
        display: block;
        width: 80%;
        position: relative;
        top: 0;
        left: 0;
        transition: 0.5s;
        margin-bottom: 20px; }
        main section .item:nth-of-type(3) a img, main section .item:nth-of-type(4) a img, main section .item:nth-of-type(5) a img, main section .item:nth-of-type(6) a img, main section .item:nth-of-type(8) a img, main section .item:nth-of-type(9) a img, main section .item:nth-of-type(11) a img, main section .item:nth-of-type(12) a img, main section .item:nth-of-type(13) a img, main section .item:nth-of-type(15) a img, main section .item:nth-of-type(17) a img, main section .item:nth-of-type(18) a img {
          width: 100%;
          height: 200px;
          object-fit: cover; }
      main section .item:nth-of-type(14), main section .item:nth-of-type(15) {
        width: 50%;
        height: 60vh; }
      main section .item:nth-of-type(14) .inner {
        padding: 20px 0 40px 20px; }
        main section .item:nth-of-type(14) .inner .wrap {
          width: 100%;
          height: 100%;
          padding: 20px 0 40px 20px;
          background: #a31e32;
          border-right: 1px solid #fff; }
          main section .item:nth-of-type(14) .inner .wrap h3 {
            font: 60px/1 "Cabin";
            color: #fff; }
      main section .item:nth-of-type(15) .inner {
        padding: 20px 20px 40px 0px; }
        main section .item:nth-of-type(15) .inner .wrap {
          width: 100%;
          height: 100%;
          padding: 20px 20px 40px 20px;
          background: #a31e32; }
          main section .item:nth-of-type(15) .inner .wrap p {
            width: 80%;
            font: 24px/1.6 "Cabin";
            color: #fff; }
      main section .item:nth-of-type(12) {
        width: 50%; }
        main section .item:nth-of-type(12) a img {
          height: 300px; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(10), main section .item:nth-of-type(16), main section .item:nth-of-type(19) {
        width: 75%; }
        main section .item:nth-of-type(7):hover .line > span, main section .item:nth-of-type(10):hover .line > span, main section .item:nth-of-type(16):hover .line > span, main section .item:nth-of-type(19):hover .line > span {
          width: 23%; }
        main section .item:nth-of-type(7):hover a, main section .item:nth-of-type(10):hover a, main section .item:nth-of-type(16):hover a, main section .item:nth-of-type(19):hover a {
          right: 100px; }
        main section .item:nth-of-type(7):hover span em, main section .item:nth-of-type(10):hover span em, main section .item:nth-of-type(16):hover span em, main section .item:nth-of-type(19):hover span em {
          background: #000; }
        main section .item:nth-of-type(7) .line, main section .item:nth-of-type(10) .line, main section .item:nth-of-type(16) .line, main section .item:nth-of-type(19) .line {
          width: 95%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 20px;
          transition: 0.5s;
          overflow: hidden; }
          main section .item:nth-of-type(7) .line::before, main section .item:nth-of-type(10) .line::before, main section .item:nth-of-type(16) .line::before, main section .item:nth-of-type(19) .line::before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #000; }
          main section .item:nth-of-type(7) .line > span, main section .item:nth-of-type(10) .line > span, main section .item:nth-of-type(16) .line > span, main section .item:nth-of-type(19) .line > span {
            display: block;
            width: 15%;
            height: 1px;
            background: #000;
            position: absolute;
            top: 0;
            right: 0px;
            text-indent: -9999px;
            transform-origin: right top;
            transform: rotate(-45deg);
            transition: 0.5s;
            z-index: 2; }
          main section .item:nth-of-type(7) .line::after, main section .item:nth-of-type(10) .line::after, main section .item:nth-of-type(16) .line::after, main section .item:nth-of-type(19) .line::after {
            content: '';
            display: block;
            width: 1px;
            height: 70%;
            position: absolute;
            bottom: 30px;
            left: 0;
            background: #000;
            transition: 0.5s; }
        main section .item:nth-of-type(7) h2, main section .item:nth-of-type(10) h2, main section .item:nth-of-type(16) h2, main section .item:nth-of-type(19) h2 {
          font-size: 60px; }
        main section .item:nth-of-type(7) a, main section .item:nth-of-type(10) a, main section .item:nth-of-type(16) a, main section .item:nth-of-type(19) a {
          display: block;
          width: 60%;
          position: absolute;
          bottom: 20px;
          right: 40px;
          transition: 0.5s;
          margin-bottom: 20px;
          z-index: 1; }
          main section .item:nth-of-type(7) a img, main section .item:nth-of-type(10) a img, main section .item:nth-of-type(16) a img, main section .item:nth-of-type(19) a img {
            width: 100%;
            height: 400px;
            object-fit: cover; }
          main section .item:nth-of-type(7) a video, main section .item:nth-of-type(10) a video, main section .item:nth-of-type(16) a video, main section .item:nth-of-type(19) a video {
            width: 100%;
            height: 400px;
            object-fit: cover; }
      main section .item:nth-of-type(20) {
        width: 99.999%;
        height: 20vh; }
        main section .item:nth-of-type(20) .inner {
          display: flex;
          justify-content: center;
          align-items: center; }
          main section .item:nth-of-type(20) .inner a {
            display: block;
            width: 120px;
            height: 40px;
            font: 16px/40px "Cabin";
            color: #000;
            border: 1px solid #000;
            text-align: center;
            transition: 0.5s; }
            main section .item:nth-of-type(20) .inner a::before {
              content: '';
              display: block;
              width: 45%;
              height: 1px;
              background: #000;
              position: absolute;
              top: 50%;
              left: 0; }
            main section .item:nth-of-type(20) .inner a::after {
              content: '';
              display: block;
              width: 45%;
              height: 1px;
              background: #000;
              position: absolute;
              top: 50%;
              right: 0; }
            main section .item:nth-of-type(20) .inner a:hover {
              background: #333;
              color: #fff; }

/*# sourceMappingURL=style.css.map */
