@charset "utf-8";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');

$titFont : 'Cabin';
$txtFont : 'Roboto Condensed';
$movieTit : 'Open Sans';

body{ background:#ebeae9;}
header{ 
    width:5%; height:100%;  position:fixed; 
    top:0; left:0; border-right:1px solid #333;
    z-index:4;
    .inner{
        width:100%; height:100%;
        h1{
            font:26px/1 $movieTit; color:#000;
            position:absolute; top:50%; left:50%;
            transform:rotate(-90deg) translate(-50%,-50%);
            transform-origin: left top;
        }
    }
}
main{
    margin-left:5%;
    section{
        width:100%; 
        &::after{ content:''; display:block; clear:both; }
        .item-sizer{
            width:25%; height:0; opacity:0;
        }

        .item{
            width:25%; height:60vh;
            float:left; position:relative;
            //border:1px solid #aaa;
            
            .inner{
                width:100%; height:100%;
                background:#ebeae9; padding:20px;
                
                span{
                    em{
                        display:inline-block;
                        width:22px; height:22px;
                        border:1px solid #555;
                        border-radius: 50%; margin-right:10px;
                        transition:0.5s;
                    }
                    font:26px/1 $txtFont; color:#555;
                }
                h2{
                    width:80%;
                    font: 700 34px/1.1 $movieTit; color:#333;
                    margin-top:10px;
                }
            }

            &:nth-of-type(2){
                width:100%; height:40vh;
                h1{
                    font:36px/1 $titFont; color:#333;
                    margin-bottom:10px; padding-bottom:10px;
                    border-bottom:1px solid #000;
                }
                .box{
                    display:block; width:100%;
                    text-align:right;
                    span{
                        font:20px/1 $txtFont; color:#333;
                        margin-right:5px;
                    }
                    a{
                        display:inline-block;
                        i{
                            font-size:22px;
                            color:#666;
                        }
                    }
                }
                p{
                    width:35%; letter-spacing: 1px;
                    font:22px/1.5 $txtFont; color:#333;
                }
            }
            &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(8),&:nth-of-type(9),&:nth-of-type(11),&:nth-of-type(12),&:nth-of-type(13),&:nth-of-type(15),&:nth-of-type(17),&:nth-of-type(18){
                &:hover{
                    .line{
                        width:70%;
                        &::after{
                            height: 40%;
                        }
                    }
                    a{
                        left:40px;
                    }
                    span{
                        em{
                            background:#000;
                        }
                    }
                }
                .line{
                    width:90%; height:100%; position:absolute; top:0; left:20px;
                    transition:0.5s;
                    &::before{
                        content:''; display:block;
                        width:100%; height:1px;
                        background:#000;
                    }
                    >span{
                        display:block;
                        text-indent:-9999px;
                        opacity:0;
                    }
                    &::after{
                        content:''; display:block;
                        width:1px; height:0%; position:absolute; top:0; left:0;
                        background:#000; transition:0.5s;
                    }
                }
                a{
                    display:block; width:80%;
                    position:relative; top:0; left:0;
                    transition:0.5s; margin-bottom:20px;
                    img{
                        width:100%; height:200px; object-fit: cover;
                    }
                }
                
            }
            //중간
            &:nth-of-type(14),&:nth-of-type(15){
               width:50%; height:60vh;
            }

            &:nth-of-type(14){
                .inner{
                    padding:20px 0 40px 20px;
                    .wrap{
                        width:100%; height:100%;
                        padding:20px 0 40px 20px; background:#a31e32;
                        border-right:1px solid #fff;
                        h3{
                            font:60px/1 $titFont; color:#fff;
                        }
                    }
                }
                
            }
            &:nth-of-type(15){
                .inner{
                    padding:20px 20px 40px 0px; 
                    .wrap{
                        width:100%; height:100%;
                        padding:20px 20px 40px 20px; background:#a31e32;
                        p{
                            width:80%;
                            font:24px/1.6 $titFont; color:#fff;
                        }
                    }
                }
            }

            &:nth-of-type(12){
                width:50%;
                // .line{ width:93%; }
                a img{ height:300px; }
            }

            //pc
            &:nth-of-type(7),&:nth-of-type(10),&:nth-of-type(16),&:nth-of-type(19){
                width:75%; 
                &:hover{
                    .line>span{
                        width:23%;
                    }
                    a{
                        right:100px;
                    }
                    span{
                        em{
                            background:#000;
                        }
                    }
                }
                .line{
                    width:95%; height:100%; position:absolute; top:0; left:20px; transition:0.5s;
                    overflow: hidden;
                    &::before{
                        content:''; display:block;
                        width:100%; height:1px;
                        background:#000;
                    }
                    >span{
                        display:block;
                        width:15%; height:1px;
                        background:#000;
                        position:absolute; top:0; right:0px;
                        text-indent:-9999px;
                        transform-origin: right top;
                        transform:rotate(-45deg);
                        transition:0.5s;   z-index:2;
                    }
                    &::after{
                        content:''; display:block;
                        width:1px; height:70%; position:absolute; bottom:30px; left:0;
                        background:#000; transition:0.5s;
                    }
                }
                h2{
                    font-size:60px;
                }
                a{
                    display:block; width:60%;
                    position:absolute; bottom:20px; right:40px;
                    transition:0.5s; margin-bottom:20px;
                    z-index:1;
                    img{
                        width:100%; height:400px; object-fit: cover;
                    }
                    video{
                        width:100%; height:400px;  object-fit: cover;
                    }
                }
            }
            &:nth-of-type(20){
                width:99.999%; height:20vh;
                .inner{
                    display:flex;
                    justify-content: center; align-items:center;
                    a{
                        display:block;
                        width:120px; height:40px;
                        font:16px/40px $titFont; color:#000;
                        border:1px solid #000; text-align:center;
                        transition:0.5s;
                        &::before{
                            content:''; display:block;
                            width:45%; height:1px;
                            background:#000;
                            position:absolute; top:50%; left:0;
                        }
                        
                        &::after{
                            content:''; display:block;
                            width:45%; height:1px;
                            background:#000;
                            position:absolute; top:50%; right:0;
                        }

                        &:hover{
                            background:#333; color:#fff;
                        }
                    }
                }
                
            }
        }

        

    }
}

@media screen and (max-width:1179px){
    main{
        section{
            .item{
                width:50%; height:60vh;
                .inner{
                    span{
                        font-size:24px;
                    }
                    h2{
                        width:90%;
                        font: 700 30px/1.2 $movieTit;
                    }
                }
    
                &:nth-of-type(2){
                    p{
                        width:80%;
                    }
                }
                &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(8),&:nth-of-type(9),&:nth-of-type(11),&:nth-of-type(12),&:nth-of-type(13),&:nth-of-type(15),&:nth-of-type(17),&:nth-of-type(18){
                    a{ width:90%; }
                    
                }
                //중간
                &:nth-of-type(14),&:nth-of-type(15){
                   width:100%; 
                }

                &:nth-of-type(14){
                    .inner{
                        padding:20px 20px 0px 20px;
                        .wrap{
                            padding:20px 20px 0px 20px;
                            border-right:none;
                            border-bottom:1px solid #fff;
                        }
                    }
                    
                }
                &:nth-of-type(15){
                    .inner{
                        padding:0px 20px 40px 20px; 
                        .wrap{
                            p{
                                width:90%;
                            }
                        }
                    }
                }
    
                &:nth-of-type(11), &:nth-of-type(12),&:nth-of-type(13){ width:100%; }


                //1179px
                &:nth-of-type(7),&:nth-of-type(10),&:nth-of-type(16),&:nth-of-type(19){
                    width:100%; 
                    &:hover{
                        .line>span{
                            width:30%;
                        }
                        a{
                            right:100px;
                        }
                    }
                    .line{
                        &::after{ height:62%; }
                    }
                    h2{ width:90%; font-size:50px; }
                    a{
                        width:70%;
                        img{ height:350px; }
                        video{ height:350px; }
                    }
                }
                &:nth-of-type(20){
                    .inner{
                        a{
                            &::before{  width:35vw; }
                            
                            &::after{ width:35vw; }
                        }
                    }
                    
                }
            }
        }
    }
}
@media screen and (max-width:539px){
    header{
        display:none;
    }
    main{
        margin-left:0%;
        section{
            .inner{
                padding:10px;
            }
            .item{
                width:100%;
                .inner{
                    span{
                        em{ width:20px; height:20px; }
                        font-size:24px;
                    }
                    h2{
                        width:100%;
                        font-size:30px;
                    }
                }
                &:nth-of-type(2){
                    height:60vh;
                    h1{ font-size:32px; }
                    .box{
                        span{ font-size:16px; }
                        a>i{ font-size:18px; }
                    }
                    p{
                        width:95%; margin-top:10px;
                        font:20px/1.5 $txtFont;
                    }
                }
                &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(8),&:nth-of-type(9),&:nth-of-type(11),&:nth-of-type(12),&:nth-of-type(13),&:nth-of-type(15),&:nth-of-type(17),&:nth-of-type(18){
                    &:hover{
                        a{ left:10px; }
                    }
                    a{ width:100%; }
                    
                }

                &:nth-of-type(14){
                    height:30vh;
                    .inner{
                        .wrap{
                            h3{
                                font:32px/1 $titFont; color:#fff;
                            }
                        }
                    }
                    
                }
                &:nth-of-type(15){
                    .inner{
                        padding:0px 20px 40px 20px; 
                        .wrap{
                            p{
                                width:100%;
                                font:20px/1.3 $titFont; color:#fff;
                            }
                        }
                    }
                }
    
                &:nth-of-type(7),&:nth-of-type(10),&:nth-of-type(16),&:nth-of-type(19){
                    width:100%; 
                    &:hover{
                        a{
                            right:40px;
                        }
                        span{
                            em{
                                background:#000;
                            }
                        }
                    }
                    .line{
                        width:90%;
                        >span{ display:none; }
                        &::after{ display:none; }
                    }
                    h2{ width:100%; font-size:36px; }
                    a{
                        width:80%;
                        right:20px; margin-bottom:0px;
                        img{ height:350px;
                        }
                        video{ height:350px; }
                    }
                }
                &:nth-of-type(20){
                    .inner{
                        a{
                            &::before{  width:25vw; }
                            
                            &::after{ width:25vw; }
                        }
                    }
                    
                }
            }
        }
    }
}