@charset "utf-8";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

$titFont : 'Noto Serif';

body{
    background:#040c22;
}

#header{
    width:100%;
    .inner{
        width:1180px; height:120px; margin:0 auto;
        position:relative; padding:50px 13px 0 13px; 
        &::after{
            content:''; display:block; clear:both;
        }
        h1{
            font:30px/1 "arial"; color:#fff;
            float:left;
        }
        a{
            font:24px/1 "arial"; color:#fff;
            float:right;
        }
    }
    
}
#visual{
    width:1180px; margin:0 auto;
    &::after{
        content:''; display:block; clear:both;
    }

    .item-sizer{
        width:25%; height:0; opacity:0;
    }

    .item{
        width:25%; height:30vh;
        padding:13px; float:left; 
        .inner{
            width:100%; height:100%; position:relative;
            .pic{ 
                width:100%; height:100%;  padding:9px;
                background-color:#353b46; overflow: hidden;
                img{
                    display:inline-block;
                    width:100%; height:100%; object-fit: cover;
                    transition:0.5s;  
                }
                &:hover{
                    img{ transform:scale(1.1); }
                }
            }
            h2{
                position:absolute; top:200px; left:40px; 
                font:48px/1 $titFont; color:#fff;
            }
            p{
                width:60%;
                font:16px/1.4 $titFont; color:#fff;
                position:absolute; top:270px; left:40px;
            }
            a{
                display:block; width:200px; height:50px;
                position:absolute; top:350px; left:40px;
                font: 14px/50px $titFont; color:rgb(131, 43, 17);
                text-align:center; letter-spacing: 2px;
                background:#fff;
            }
            h3{
                font:40px/1 $titFont; color:#fff;
                text-align: center; padding:30px 20px;
                position:relative;
                &::after{
                    content:''; display:block;
                    width:50px; height:1px; background:#aaa;
                    position:absolute; left:50%; bottom:0;
                    transform:translateX(-50%);
                }
            }
            span{
                display:block; margin-top:20px;
                font:16px/1.4 "arial"; color:#fff;
                text-align:center;
            }
        }

        &:nth-of-type(2){
            width:50%; height:60vh;
            
        }
        &:nth-of-type(4){
            height:60vh;
        }
        &:nth-of-type(8){
            width:50%; height:60vh;
        }
        &:nth-of-type(10){
            height:60vh;
        }
        &:nth-of-type(14){
            width:50%;
        }
    }
    
}

@media screen and (max-width:1179px){
    #header{
        .inner{
            width:100%;
        }
        
    }
    #visual{
        width:100%; margin:0 auto;
    }
    
}

@media screen and (max-width:1179px){
    #header{
        .inner{
            width:100%;
        }
        
    }
    #visual{
        width:100%; margin:0 auto;
    }
    
}


@media screen and (max-width:880px){
    #header{
        .inner{
            width:100%;
        }
        
    }
    #visual{
        width:100%; margin:0 auto;
    
        .item-sizer{
            width:50%; height:0; opacity:0;
        }
    
        .item{
            width:50%; height:30vh;
            padding:13px; float:left; 
            .inner{
                width:100%; height:100%; position:relative;
                .pic{ 
                    width:100%; height:100%;  padding:9px;
                    background-color:#353b46; overflow: hidden;
                    img{
                        display:inline-block;
                        width:100%; height:100%; object-fit: cover;
                        transition:0.5s;  
                    }
                    &:hover{
                        img{ transform:scale(1.1); }
                    }
                }
                h2{
                    position:absolute; top:200px; left:40px; 
                    font:48px/1 $titFont; color:#fff;
                }
                p{
                    width:60%;
                    font:16px/1.4 $titFont; color:#fff;
                    position:absolute; top:270px; left:40px;
                }
                a{
                    display:block; width:200px; height:50px;
                    position:absolute; top:350px; left:40px;
                    font: 14px/50px $titFont; color:rgb(131, 43, 17);
                    text-align:center; letter-spacing: 2px;
                    background:#fff;
                }
                h3{
                    font:40px/1 $titFont; color:#fff;
                    text-align: center; padding:30px 20px;
                    position:relative;
                    &::after{
                        content:''; display:block;
                        width:50px; height:1px; background:#aaa;
                        position:absolute; left:50%; bottom:0;
                        transform:translateX(-50%);
                    }
                }
                span{
                    display:block; margin-top:20px;
                    font:16px/1.4 "arial"; color:#fff;
                    text-align:center;
                }
            }
    
            &:nth-of-type(2){
                width:50%; height:60vh;
                
            }
            &:nth-of-type(4){
                height:60vh;
            }
            &:nth-of-type(8){
                width:50%; height:60vh;
            }
            &:nth-of-type(10){
                height:60vh;
            }
            &:nth-of-type(14){
                width:50%;
            }
        }
        
    }
    
}

@media screen and (max-width:539px){
    #header{
        .inner{
            width:100%;
        }
        
    }
    #visual{
        width:100%; margin:0 auto;
    
        .item-sizer{
            width:100%; height:0; opacity:0;
        }
    
        .item{
            width:100%;
            .inner{
                width:100%;

                h2{
                    font-size:36px;
                }
                p{
                    width:70%; font-size:14px;
                }
                a{
                    font-size:12px;
                }
                h3{
                    font:40px/1 $titFont; color:#fff;
                    text-align: center; padding:30px 20px;
                    position:relative;
                    &::after{
                        content:''; display:block;
                        width:50px; height:1px; background:#aaa;
                        position:absolute; left:50%; bottom:0;
                        transform:translateX(-50%);
                    }
                }
                span{
                    display:block; margin-top:20px;
                    font:16px/1.4 "arial"; color:#fff;
                    text-align:center;
                }
            }
    
            &:nth-of-type(2){ width:100%; }
            &:nth-of-type(8){ width:100%; }
            &:nth-of-type(14){ width:100%; }
        }
        
    }
    
}